# Compiled class file
*.class

# Log file
*.log
logs/

# Maven
target/
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

# IntelliJ IDEA
.idea/

# Eclipse
.classpath
.project
.settings/
bin/

# VS Code
.vscode/
